/* Core Setup */
html, body {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:". content ." ". header .";
  grid-gap: 1rem;
  background: url('bg.png') bottom center;
}

/* Root body elements */
header {
  grid-area: header;
  background-color: rgba(112, 128, 144, 0.8);
  color: white;
}

main {
  grid-area: content;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

/* Header element (H1) */
header h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  letter-spacing: 1rem;
  font-size: 4rem;
  line-height: 5rem;
}

/* "main" elements */
main dl {
  padding: 0;
  margin: 0 1rem;
  flex: 1 0 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "description" "title";
  grid-gap: 1rem;
}

main dl:first-of-type, main dl:last-of-type {
  margin: 0;
}

main dl dt {
  grid-area: title;
  text-align: center;
  letter-spacing: 0.75rem;
  font-size: 2rem;
  line-height: 3rem;
  background-color: rgba(112, 128, 144, 0.8);
  color: white;
}

main dl dd {
  grid-area: description;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
}

/* Definition Description Anchor */
main dl dd a {
  background-color: rgba(112, 128, 144, 0.8);
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: 1rem;
  padding: 1rem;
}

main dl:first-of-type dd a:last-of-type {
  border-top-left-radius: 1rem;
}

main dl:last-of-type dd a:last-of-type {
  border-top-right-radius: 1rem;
}

main dl dd a:hover {
  background-color: rgba(176, 196, 222, 0.8);
  color: dimgray;
}
