@media all {
  /* Fonts */
  @import url('https://fonts.googleapis.com/css?family=Quicksand');

  /* Core Setup */
  html, body {
    font-size: 16px;
    font-family: 'Quicksand', monospace;
  }

  body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-gap: 1rem;
    background-image: url('../images/bg.png');
    background-position: bottom center;
  }

  /* Root body elements */
  header {
    grid-area: header;
    background-color: rgba(112, 128, 144, 0.8);
    color: white;
  }

  main {
    grid-area: content;
    display: flex;
    flex-direction: column-reverse;
  }

  /* Header element (H1) */
  header h1 {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  /* "main" elements */
  main dl {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  main dl:first-of-type, main dl:last-of-type {
    margin: 0;
  }

  main dl dt {
    grid-area: title;
    text-align: center;
    letter-spacing: 0.75rem;
    font-size: 2rem;
    line-height: 3rem;
    background-color: rgba(112, 128, 144, 0.8);
    color: white;
  }

  main dl dd {
    grid-area: description;
    margin: 0;
    padding: 0;
    display: flex;
  }

  /* Definition Description Anchor */
  main dl dd a {
    background-color: rgba(112, 128, 144, 0.8);
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 1rem;
  }

  main dl dd a:hover {
    background-color: rgba(176, 196, 222, 0.8);
    color: dimgray;
  }
}

@media (orientation:landscape) {
  body {
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:". content ." ". header .";
  }

  header h1 {
    letter-spacing: 1rem;
    font-size: 4rem;
    line-height: 5rem;
  }

  main {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  main dl {
    margin: 0 1rem;
    flex: 1 0 100px;
    grid-template-rows: 1fr auto;
    grid-template-areas: "description" "title";
    grid-gap: 1rem;
  }

  main dl:first-of-type dd a:last-of-type {
    border-top-left-radius: 1rem;
  }

  main dl:last-of-type dd a:last-of-type {
    border-top-right-radius: 1rem;
  }

  main dl dd {
    flex-direction: column-reverse;
  }

  main dl dd a {
    padding: 1rem;
  }
}

@media (orientation:portrait) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:"content" "header";
  }

  header h1 {
    letter-spacing: 0.5rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }

  main {
    overflow-y: scroll;
    align-content: flex-end;
  }

  main dl {
    margin-top: 1rem;
    flex: 0 0 auto;
    grid-template-rows: auto 1fr;
    grid-template-areas: "title" "description";
  }

  main dl dd {
    flex-direction: column;
  }

  main dl dd a {
    padding: 0.5rem 0;
    width: 100%;
  }
}
